.head
{
    font-family: Signika;
   font-size:50px;
   color: #c9e0c8;
    height: 240px;
    width: 34%;
    line-height:1.4;
    margin-left: 2rem;  
    margin-top: 1rem;
}
body{
    background-color: #1D2E28;
}

footer{
    position: absolute;
    bottom: 0;
    left:0;
    background-color: #56745d;
    height: 7rem;
    width: 100%;
    
}

.address
{
    margin-left: 2rem; 
    line-height:1.4;
    padding-top: 0.1rem;
}

.book-hall, .request, .event-list, .user-manual

{ 
    text-align: center;
    display:inline-block;
    height: 130px;
    width: 150px;
    background-color:#c9e0c8;
    margin-left: 2rem;
    margin-bottom: 3rem;
    box-sizing: border-box;
    border-bottom: 4px solid black;
    border-radius: 35px;
    flex-wrap: wrap;
}





.box
{
width: 34%;
height: auto;
}

#icon
{
margin-top: 20px;
display: block;
height:60px;
width:70px;
margin-left: auto;
margin-right: auto;
}

.i_name
{
    font-family: Signika;
    font-size: medium;
    color:#293936;
}

.nav-link
{   font-family: Signika;
    font-size: 23px;
    padding-top: 10px;
    margin-right: 50px;
    display: flex;
    justify-content: end;
    display: inline;
    color:#c9e0c8;
}

#nav-bar
{
    position: fixed;
    top: 0;
    right: 0;
}

#icon:hover
{
    -webkit-transform: scale(1.3);
transform: scale(1.3);

}

a:hover{
  color: green;
    
}
